<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/barez-store_202304/BAREZ-STORE.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://archive.org/download/Barez/IMG_0985.jpeg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://archive.org/download/Barez/IMG_0985.jpeg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.barez</string>
				<key>bundle-version</key>
				<string>2.5.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>PUBG</string>
				<key>title</key>
				<string>PUBG MOBILE

تایەبەتە بە چەناڵی 


BAREZ-STORE

لە تێلیگرام
 </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
